a {
  color: rgb(94, 255, 212);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover, 
a:focus {
  text-decoration: none;
  color: rgb(191, 98, 167);
  text-shadow: 2px 2px rgb(94, 255, 212);
}

a.btn-circle.btn-social {
  text-shadow: none;
}

i.ion-pound {
  color: rgb(94, 255, 212);
  text-shadow: 2px 2px rgb(191, 98, 167);
}

i.ion-pound:hover,
i.ion-pound:focus,
a:hover i.ion-pound,
a:focus i.ion-pound, {
  color: rgb(191, 98, 167);
  text-shadow: 2px 2px rgb(94, 255, 212);
}

.navbar a.navbar-brand:hover,
.navbar a.navbar-brand:focus {
  color: black;
  display: inline-block;
  font-weight: bold;
}

.navbar a.navbar-brand:hover i.ion-pound,
.navbar a.navbar-brand:focus i.ion-pound {
  color: rgb(191, 98, 167);
  text-shadow: 2px 2px rgb(94, 255, 212);
}

.navbar li a:hover,
.navbar li a:focus {
  color: #bf62a7 !important;
  display: inline-block;
  font-weight: bold;
}

.links a:hover,
.links a:focus {
  color: #bf62a7 !important;
  border: 3px solid rgb(94, 255, 212);
  display: inline-block;
  font-weight: bold;
  border-radius-radius: 5px;
}

.btn {
  text-transform: uppercase;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.btn-default {
  border: 1px solid #219ab3;
  color: #219ab3;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #219ab3;
  outline: 0;
  color: #000;
  background-color: #219ab3;
}
::-moz-selection {
  text-shadow: none;
  background: rgb(94, 255, 212);
  background: rgba(94, 255, 212, .2);
}
::selection {
  text-shadow: none;
  background: rgb(94, 255, 212);
  background: rgba(94, 255, 212, .2);
}
img::selection {
  background: 0 0;
}
img::-moz-selection {
  background: 0 0;
}

ul.banner-social-buttons {
    margin-top: 0;
}
@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}
@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
