.pre-post {
  padding: 100px 0;
}
div span.title {
    color: rgb(191, 98, 167);
    text-shadow: 2px 2px rgb(94, 255, 212);
}
time.post-date {
  color: rgb(191, 98, 167);
  text-shadow: 1px 1px rgb(94, 255, 212);
}

.blog-post, .post {
  padding: 10px 0;
}

.blog-post, .post .blog-post-meta {
  margin: 0 auto;
  color: rgb(94, 255, 212);
}
.blog-post, .post img {
  max-height: 500px;
}

.blog-post, .post .blog-post-title a:hover,
.blog-post, .post .blog-post-title a:focus, 
.blog-post, .post h1 a:focus, 
.blog-post, .post h1 a:hover {
    color: rgb(94, 255, 212);
    text-shadow: 2px 2px rgb(191, 98, 167);
}

#posts {
  padding: 60px 100px 2em;
}

.tags a {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: rgb(94, 255, 212);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background: rgb(191, 98, 167);
}

.tags a:hover, 
.tags a:focus {
  background: rgb(94, 255, 212) !important;
  border: none !important;
  color: rgb(191, 98, 167) !important;
  text-shadow: none !important;
}
.tags ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tags ul li {
  display: inline-block;
}

.ion-calendar {
    color: rgb(191, 98, 167);
    text-shadow: 2px 2px rgb(94, 255, 212);
}