.pre-post {
  padding: 100px 0;
}
.blog-post, .post {
  padding: 10px 0;

  .blog-post-title, h1 {
    font-size: 3em;
    padding-right: 10px;

    a {
      color: rgb(191, 98, 167);
      text-shadow: 2px 2px rgb(94, 255, 212);
    }
  }

  .blog-post-title:hover,
  .blog-post-title:focus, 
  h1:focus, h1:hover {
    a {
      color: rgb(94, 255, 212);
      text-shadow: 2px 2px rgb(191, 98, 167);
    }
  }
  .blog-post-meta {
    margin: 0 auto;
    color: rgb(94, 255, 212);
  }
  img {
    max-height: 500px;
  }
}
#posts {
  padding: 100px 2em;
}
.tags {
  a {
    padding: 0 2px;

    .label-tag {
      background: rgb(191, 98, 167);
      color: rgb(94, 255, 212);
      text-shadow: none;
    }

    .label-tag:hover, .label-tag:focus {
      background: rgb(94, 255, 212) !important;
      border: none !important;
      color: rgb(191, 98, 167) !important;
      text-shadow: none !important;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
}
