#resume {
  a:focus, 
  a:hover,  {
    color: rgb(191, 98, 167);
    text-shadow: 2px 2px aqua;
  }

  h2 {
    color: rgb(191, 98, 167);
    
    a:focus, 
    a:hover,  {
      color: aqua;
      text-shadow: 2px 2px rgb(191, 98, 167);
    }
  }
  ul li:focus, 
  ul li:hover {
    a {
      color: rgb(191, 98, 167);
      text-shadow: 2px 2px aqua;
    }
  }

  i.ion-pound {
    color: rgb(191, 98, 167);
    text-shadow: 2px 2px aqua;
  }

  i.ion-pound:hover,
  i.ion-pound:focus,
  a:hover i.ion-pound,
  a:focus i.ion-pound, {
    color: aqua;
    text-shadow: 2px 2px rgb(191, 98, 167);
  }
}