<header id="page-top" class="intro">
  <div class="intro-body">
    <div class="col-md-8 col-md-offset-2"><img src=url({{image}}) alt="" class="profile img-circle img-responsive"/>
      <h1 class="brand-heading">Just Sum Ninja Code</h1>
      <p class="intro-text">
        <ul class="list-inline">
          <li><a href="https://twitter.com/pramodsum" class="btn-circle btn-social"><i class="ion-social-twitter animated"></i></a></li>
          <li><a href="https://linkedin.com/in/pramodsum" class="btn-circle btn-social"><i class="ion-social-linkedin animated"></i></a></li>
          <li><a href="https://github.com/pramodsum" class="btn-circle btn-social"><i class="ion-social-github animated"></i></a></li>
          <li><a href="https://facebook.com/sumedha.pramod" class="btn-circle btn-social"><i class="ion-social-facebook animated"></i></a></li>
          <li><a href="mailto:sumedha.pramod@gmail.com" class="btn-circle btn-social"><i class="ion-email animated"></i></a></li>
        </ul>
      </p>
      <div class="scroll"><a href="#posts" class="btn btn-circle page-scroll"><i style="margin-left: -1px" class="ion-chevron-down animated"></i></a></div>
    </div>
  </div>
</header>