{{>"navbar"}}
<header id="page-top" class="intro">
  <div class="intro-body">
    <div class="col-md-8 col-md-offset-2"><a href={{@blog.url}}/about><img src="https://s3-us-west-2.amazonaws.com/sumninjacode/img/profile.jpeg" class="profile img-circle img-responsive"/></a>
      <h1 class="brand-heading"><a href={{@blog.url}}>Just Sum Ninja Code</a></h1>
      <p class="intro-text">
        <ul class="list-inline">
          <li><a href="https://twitter.com/pramodsum" class="btn-circle btn-social"><i class="ion-social-twitter animated"></i></a></li>
          <li><a href="https://linkedin.com/in/pramodsum" class="btn-circle btn-social"><i class="ion-social-linkedin animated"></i></a></li>
          <li><a href="https://github.com/pramodsum" class="btn-circle btn-social"><i class="ion-social-github animated"></i></a></li>
          <li><a href="https://facebook.com/sumedha.pramod" class="btn-circle btn-social"><i class="ion-social-facebook animated"></i></a></li>
          <li><a href="http://www.pinterest.com/pramodsum/" class="btn-circle btn-social"><i class="ion-social-pinterest animated"></i></a></li>
          <li><a href="http://pramod.ninja" class="btn-circle btn-social"><i class="ion-game-controller-b animated"></i></a></li>
          <li><a href="mailto:me@sumninjacode.io" class="btn-circle btn-social"><i class="ion-email animated"></i></a></li>
          <li><a href="http://eepurl.com/7XFkD" class="btn-circle btn-social"><i class="ion-social-rss animated"></i></a></li>
        </ul>
      </p>

      <div class="scroll"><a href="#posts" class="btn btn-circle page-scroll"><i style="margin-left: -1px" class="ion-chevron-down animated"></i></a></div>
    </div>
  </div>
</header>